<ui-form-field [label]="label" [optional]="optional" [control]="ngControl.control">
  <ion-select
    [value]="value()"
    [placeholder]="placeholder"
    [disabled]="isDisabled()"
    [interface]="selectInterface"
    [interfaceOptions]="selectOptions"
    [class.form-input--error]="ngControl.control?.invalid && ngControl.control?.touched"
    class="form-input"
    (ionChange)="onIonChange($event)"
    (ionDismiss)="onBlur()"
>

    @for (opt of options; track opt.value) {
      <ion-select-option [value]="opt.value">{{ opt.label }}</ion-select-option>
    }

  </ion-select>
</ui-form-field>