<ion-content class="register-content">
  <div class="register-wrapper">

    <!-- Brand -->
    <div class="brand">
      <lib-corty-logo mode="icon" [size]="128"></lib-corty-logo>
      <h1 class="brand__name">Crear cuenta</h1>
      <p class="brand__tagline">Únete a la comunidad Corty</p>
    </div>

    <!-- Progress bar -->
    <lib-wizard [totalSteps]="totalSteps" [currentStep]="currentStep()" />

    <!-- STEP 1: Account -->
    @if (currentStep() === 1) {
    <form [formGroup]="step1" (ngSubmit)="goNext()" class="register-form">
      <ui-input label="Usuario" placeholder="Elige un nombre de usuario" formControlName="username" />

      <ui-input label="Email" type="email" placeholder="tu@email.com" formControlName="email" />

      <ui-password label="Contraseña" placeholder="Mínimo 8 caracteres" formControlName="password" />

      <ui-password-checklist [control]="password" />

      <ui-password label="Confirmar contraseña" placeholder="Repite tu contraseña" formControlName="confirmPassword" />

      @if (passwordMatch) {
      <span class="form-error">Las contraseñas no coinciden</span>
      }
      <ion-button type="submit" class="btn-primary" >
        Siguiente
      </ion-button>

    </form>
    }

    <!-- STEP 2: Profile -->
    @if (currentStep() === 2) {
    <form [formGroup]="step2" (ngSubmit)="onSubmit()" class="register-form">

      <div class="form-row">
        <ui-input label="Nombre" placeholder="Tu nombre" formControlName="name" />
        <ui-input label="Apellidos" placeholder="Tus apellidos" formControlName="surname" />
      </div>

      <ui-input label="Teléfono" type="tel" placeholder="600 000 000" formControlName="phone" />


      <div class="form-row">
        <ui-select label="Género" placeholder="Selecciona" formControlName="gender" [options]="genderOptions" />
        <ui-datepicker label="Fecha de nacimiento" formControlName="birthDate" [max]="maxBirthDate" />
      </div>

      <ui-select label="Provincia" placeholder="Selecciona tu provincia" formControlName="provinceCode"
        [options]="provinceOptions()" />

      <ui-autocomplete label="Localidad" placeholder="Busca tu localidad..." formControlName="cityId"
        [options]="cityOptions()" [disabled]="cityDisabled()" />

      <ui-textarea label="Biografía" placeholder="Cuéntanos algo sobre ti..." formControlName="biography"
        [optional]="true" [maxlength]="500" />

      <div class="form-group">
        <label class="form-label">
          Foto de perfil <span class="form-label--optional">(opcional)</span>
        </label>
        <lib-avatar-picker (fileSelected)="onAvatarSelected($event)" />
      </div>

      <div class="form-actions">
        <ion-button class="btn-outline" (click)="goBack()">
          Anterior
        </ion-button>
        <ion-button type="submit" class="btn-primary" [disabled]="isLoading()">
          @if (isLoading()) {
          <ion-spinner name="crescent"></ion-spinner>
          } @else {
          Crear cuenta
          }
        </ion-button>
      </div>

    </form>
    }

    <div class="register-footer">
      <p>¿Ya tienes cuenta? <a routerLink="/auth/login" class="register-footer__link">Inicia sesión</a></p>
    </div>

  </div>
</ion-content>