// ============================================================
// CORTY admin-web — Overrides de componentes Angular
// ============================================================

// Reset base
body {
  margin: 0;
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-family);
}
