@if (isDesktop()) {

<div class="desktop-layout">
  <header class="topnav">
    <lib-corty-logo mode="full" [size]="32" />

    <nav class="topnav__links">
      @for (item of navItems; track item.tab) {
      <a class="topnav__link" [routerLink]="item.href" routerLinkActive="topnav__link--active">
        <ion-icon [name]="item.icon"></ion-icon>
        <span>{{ item.label }}</span>
      </a>
      }
    </nav>

    <lib-theme-toggle></lib-theme-toggle>

  </header>

  <main class="desktop-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>

} @else {

<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    @for (item of navItems; track item.tab) {
    <ion-tab-button [tab]="item.tab" [href]="item.href">
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-label>{{ item.label }}</ion-label>
    </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>

}